<div class="row main_body">
  <div class="container">
    <div class="row about_me about_me_upper">
      <div class="linkedin"><%= link_to image_tag("/images/linkedin.png", width: 50, height: 50, alt: 'Find me at Linkedin'), "https://www.linkedin.com/in/dion-chan-46536a98/" %></div>
      <div class="col-md-8">
        <h1>About me</h1>
        <p>Technical process is the foundation for a better world.</p>
        <p>My work experience as both a full-stack developer, and then a backend developer has taught me a great deal of my current technical expertise,
        <strong>from integrating smoothly with 3rd-party APIs, to database modelling and handling,
        as well as creating scalable applications and clean, testable code.n</strong>

        But what truly matters has to go beyond technical skills, one should encompass a
        <strong>broad field of vision</strong> to satisfy the varying needs and challenges
        of different industries coming to adopt the new technology. That is why <strong>my diverse background in
        design/advertisement, psychology and communication</strong> makes me the ideal candidate to become a web developer.</p>

        <h3>My vision</h3>
      </div>
      <div class="col-md-12 quote">
        <h2>
       "I love being good at what I do!</br></br>
        What's more - I can't help but feel enthusiastic about the future of tech:</br></br>
        AI, Cloud Computing, Crypto, and to be able to be part of it makes me love it even more!"</h2>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="container">
    <div class="row about_me about_me_desc">
      <div class="col-md-12">
        <table>
          <tr>
            <td>
              <div class="glyph"><span class="glyphicon glyphicon-road"></span></div>
            </td>
            <td>
              <h3>My background</h3>
              <h4>With my unique expertise in human psychology, communication and programming,
              I offer unique insight that goes beyond writing usable code,
              to producing attractive, user-friendly and practical products.</h4>
              <p>Not only am I a BSSc. graduate in Psychology, and MA in Language Studies - Communication and Trans.,
              but I have further garnered experience and knowledge in web development and programming through continued studies.</p>
            </td>
          </tr>

          <tr>
            <td>
              <div class="glyph"><span class="glyphicon glyphicon-briefcase"></span></div>
            </td>
            <td>
              <h3>My Jobs</h3>
              <h4>As a Backend Developer at a budding startup - Easyship, I made myself the expert in integrating with 3rd-party platforms</h4>
              <p>That is in addition to database modeling & handling, analysis of customer behaviour and segregation;
              and creating scalable applications through asynchronized execution, redis caching and modular code.
              Writing a full suite of specs is of course an unmissable part of the work, in order to guarantee everything will work perfectly in production.</p>
           </td>
         </tr>

         <tr>
           <td>
             <div class="glyph"><span class="glyphicon glyphicon-phone"></span></div>
           </td>
           <td>
             <h3>My Technical Expertise</h3>
             <h4>Proficient in HTML, CSS, JS/JQuery, Ruby/Rails, Python(Numpy, Pandas, Sklearn)</h4>
             <p> as well as some R and Java; Git, Docker and other back-end developing tools.</p>
          </td>
         </tr>
       </table>
     </div>

    <div class="row">
      <div class="col-md-12 buttons">
        <a class="btn" href="http://hwchan91.herokuapp.com/#projects">My Projects</a>
        <%= link_to "Github", "https://github.com/hwchan91?tab=repositories", class: "btn" %>
      </div>
    </div>


  </div>
</div>
