<div class="row main_body">
  <div class="container">
    <div class="row about_me about_me_upper">
      <div class="linkedin"><%= link_to image_tag("/images/linkedin.png", width: 50, height: 50, alt: 'Find me at Linkedin'), "https://www.linkedin.com/in/hin-won-chan-46536a98/" %></div>
      <div class="col-md-8">
        <h1>About me</h1>
        <p>This is the 21st century.</p>
        <p>Programming is no longer a skill limited to CS/Engineering graduates.
        <strong>What truly matters has to go beyond technical skills</strong>, and encompass a
        <strong>broad field of vision</strong> to satisfy the varying needs and challenges
        of different industries coming to adopt the new technology. That is why <strong>my diverse background in
        design/advertisement, psychology and communication</strong> makes me the ideal candidate to become a web developer.</p>

        <h3>My vision</h3>
        <p>Since making my decision to becoming a web developer, I have often been asked by my friends:
        'Don't you think that a career change is too risky?' I have answered the question as I answer it now:</p>
      </div>
      <div class="col-md-12 quote">
        <h2>
       "People who succeed are those who are comfortable with change;
        they succeed because they can adapt to these ever-changing times - This is why I seek change."</h2>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="container">
    <div class="row about_me about_me_desc">
      <div class="col-md-12">
        <table>
          <tr>
            <td>
              <div class="glyph"><span class="glyphicon glyphicon-road"></span></div>
            </td>
            <td>
              <h3>My background</h3>
              <h4>With my unique expertise in human psychology, communication and programming,
              I offer unique insight that goes beyond writing usable code,
              to producing attractive, user-friendly and practical products.</h4>
              <p>Not only am I a BSSc. graduate in Psychology, and MA in Language Studies - Communication and Trans.,
              but I have further garnered experience and knowledge in web development and programming through continued studies.</p>
            </td>
          </tr>

          <tr>
            <td>
              <div class="glyph"><span class="glyphicon glyphicon-briefcase"></span></div>
            </td>
            <td>
              <h3>My Previous Job</h3>
              <h4>As Technical Writer, I designed and produced content for product websites,
              Ipad/touch-screen presentations, and managing client Facebook accounts <span class="small_text">(with help of in-firm designers)</span>.</h4>
              <p>My previous company, Vital Base was a design and advertising firm specialized in the pharmaceutical industry.
                As I become more competent on the job, I realized that web-development is the next natural step in my career.
              I have no doubt in my mind that the web/app industry will only grow in the coming decades,
              and most important, I discovered my passion in contemplating and overcoming the technical challenges that come my way.</p>
           </td>
         </tr>

         <tr>
           <td>
             <div class="glyph"><span class="glyphicon glyphicon-phone"></span></div>
           </td>
           <td>
             <h3>My Technical Expertise</h3>
             <h4>Proficient in HTML, CSS, JS/JQuery, Ruby/Rails and other back-end developing tools.</h4>
             <p>Through the online web development course, <%= link_to 'The Odin Project', "https://www.theodinproject.com/home" %>,
            I am now proficient in various programming languages and is continuing to learn and improve more.
            I have deployed various working software on my own, which you can find through the links below.</p>
          </td>
         </tr>
       </table>
     </div>

    <div class="row">
      <div class="col-md-12 buttons">
        <a class="btn" href="http://hwchan91.herokuapp.com/#projects">My Projects</a>
        <%= link_to "Github", "https://github.com/hwchan91?tab=repositories", class: "btn" %>
      </div>
    </div>


  </div>
</div>
