<div class="row">
  <div class="container">
    <div class="row resume">
      <div class="col-md-10">
        <h1>Resume</h1>

        <div class="row my_name">
          <div class="col-xs-3"></div>
          <div class="col-xs-6 text-center"><h1>Dion, Chan Hin Won</h1></div>
          <div class="col-xs-3">
            <p class="small_text text-right">5134-7780</p>
            <p class="small_text text-right">hwchan91@gmail.com</p>
          </div>
        </div>

        <h4>Employment</h4>
        <hr>
        <p class="title"><strong>Technical Writer</strong> - Vital Base International Ltd.</p>
        <p class="small_text">Aug 2014 - Mar 2017</p>
        <ul>
          <li>Wrote and designed content for product websites,
          Ipad presentations, client Facebook accounts, and accompanying print materials</li>
          <li>Company clients included top pharmaceutical companies such as Lilly, Novartis, AstraZeneca etc.</li>
          <li>Experience in working closely with designers as well as liaising with multiple stakeholders</li>
          <li>Promoted to Technical Writer in Aug 2016, initially worked as a copywriter in drafting and publishing technical press releases/advertorials</li>
        </ul>
        <br>

        <p class="title"><strong>Technical Assistant</strong> - Reference Audio Co. Ltd.</p>
        <p class="small_text">Jun 2013 - Aug 2013</p>
        <ul>
          <li>Set up and registered website for company, managed website design and content through Wordpress</li>
          <li>Prepared site manual for other administrators to take over in the future</li>
        </ul>
        <br>

        <p class="title"><strong>Trainee</strong> - BEP Corporate Services Ltd.</p>
        <p class="small_text">Jun 2012 - Aug 2012</p>
        <ul>
          <li>Drafted reports, organized the company database, and performed general office administrative work</li>
        </ul>
        <br>

        <h4>Education</h4>
        <hr>
        <ul>
          <li>Joined <%= link_to 'The Odin Project', "https://www.theodinproject.com/home" %>, a web development curriculum, Mar 2017</li>
          <li>MA in Language Studies, City University of Hong Kong, Sep 2014, GDP: 3.7</li>
          <li>BSSc in Psychology, Chinese University of Hong Kong, Nov 2013, Hons. Class 2A</li>
          <li>HKALE, Jul 2010; P. Maths - A, Physics - A, Chemistry - B, English - B, Chinese - C</li>
          <li>HKCEE, Jul 2008. Maths - A. Chemistry - A, Econ - A, A. Maths - B, Physics - B, Biology - B, English - 5*, Chinese - 4</li>
        </ul>
        <br>

        <h4>Lanugage and Technologies</h4>
        <hr>
        <ul>
          <li>HTML, CSS, Javascipt/JQuery, Ruby, Ruby on Rails, SQL</li>
          <li>Experience with AWS, Heroku, Git</li>
          <li>Fluent in Chinese, English, Mandarin and Japanese</li>
        </ul>
        <br>

        <h4>Awards</h4>
        <hr>
        <ul>
          <li>Dean's List of Faculty of Social Science, 2013</li>
          <li>Chung Chi College Scholarship, 2012</li>
        </ul>

        <div class="extra_space"></div>

      </div>
    </div>
  </div>
</div>
