<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Projects", "http://hwchan91.herokuapp.com/#projects" %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Resume", resume_path %></li>
      </ul>
    </nav>
  </div>
</nav>
</header>
